%h2
  = _('DevOps Report')
%ul.nav-links.nav-tabs.nav.js-devops-tabs{ role: 'tablist' }
  = render 'tab', active: true, title: s_('DevopsReport|DevOps Score'), target: '#devops_score_pane'
  = render 'tab', active: false, title: s_('DevopsReport|Adoption'), target: '#devops_adoption_pane'

.tab-content
  .tab-pane.active#devops_score_pane
    = render_ce 'admin/dev_ops_report/report'
  .tab-pane#devops_adoption_pane
    .js-devops-adoption{ data: { empty_state_svg_path: image_path('illustrations/monitoring/getting_started.svg') } }
